<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjj.server.important.mapper.ImportantMapper">

    <resultMap id="baseMap" type="com.hjj.server.important.model.Important">
        <id column="id" property="id"/>
        <result column="address" property="place"/>
        <result column="temperature" property="temperature"/>
        <result column="humidity" property="humidity"/>
        <result column="ash" property="air"/>
        <result column="status" property="waring"/>
    </resultMap>
    <update id="upFixImportantStatus">
        update important_status
        set status = 0
        where id = #{id}
    </update>
    <select id="getImportantDetailList" resultMap="baseMap">
        select
            id,
            address,
            temperature,
            humidity,
            ash,
            status
        from  important_status
        <if test="place != 'null'">
            where address like concat('%',#{place},'%')
        </if>
    </select>
    <select id="getImportantWaringList" resultMap="baseMap">
        select
            id,
            address,
            temperature,
            humidity,
            ash,
            status
        from  important_status
        where status = 1
    </select>
</mapper>
